/* Sidebar */

.sidebar{
    flex: 1;
    position: sticky;
    top: 10px;
    height: auto;
}

/* Stars */

.review {
    font-size: 18px;
}

/* Customer Account */

.img {
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.container-two {
    display: flex;
}

.container-img {
    margin-bottom: 20px;
}

.bookings {
    margin: 25px;
}

.booking {
    border-radius: 25px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.dates {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 10px;
    margin-right: 30px;
}

.submitBtn {
    border-radius: 10px;
    border-style: solid;
    border-color: gray;
    background-color: white;
    border-width: 1px;
}