.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}

.featuredItem{
    align-items: center;
    position: relative;
    color: black;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    cursor: pointer;
}

.featuredImg{
    width: 100%;
    object-fit: cover;
    width: 340px;
    height: 250px;
}

.featuredImg2{
    width: 100%;
    object-fit: cover;
    width: 510px;
    height: 250px;
}

.featuredTitles{
    position: absolute;
    color: white;
    bottom: 20px;
    left: 20px;
}