h2 {
    font-size: 23px;
}

.lastUp {
    font-size: 13px;
}

.about-us-container {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 160px;
    margin-right: 200px;
    display: flex;
}

.table-of-contents {
    margin-right: 100px;
}

.table-of-contents:hover {
    cursor: pointer;
}

.limit-height {
    max-height: 500px; /* Ajustez la valeur selon vos besoins */
    overflow-y: auto; /* Ajoutez une barre de défilement si nécessaire */
}